body {
 font-size: 15px;
 font-family: Courier;
}
.a {
 margin-top: 10px;
} 
.nos {
 margin-left: 20px;
} 
.no {
 transform: rotate(-90deg);
 position: relative;
 right: 170px;
 font-size: 18px;
 top: 10px;
} 
.container {
 display: flex;
 position: relative;
 left: 40px;
 bottom: 280px;
 flex-direction: row;
 width: 280px;
 margin: 10px;
 text-align: center;
 font-size: 15px;
 justify-content: space-evenly;
 background: skyblue;
 border-radius: 20px;
 height: 280px;
} 
.item {
  background-color: lightblue;
  border-radius: 6px;
} 
.ca {
  border: solid 1px lightblue;
  padding: 32px 5px 32px 5px;
  margin: 50px 0px 20px 0px;
} 
.cb {
  border: solid 1px lightblue;
  padding: 12.5px 5px 12.5px 5px;
  margin: 174px 0px 20px 0px;
} 
.cc {
  border: solid 1px lightblue;
  padding: 18px 5px 18px 5px;
  margin: 142px 0px 20px 0px;
} 
.cd {
  border: solid 1px lightblue;
  padding: 19.5px 5px 19.5px 5px;
  margin: 134px 0px 20px 0px;
} 
.co{
  margin: 0px 7px 0px 7px;
  position: relative;
  bottom: 280px;
  left: 70px;
}
.cn {
  position: relative;
  bottom: 294px;
  left: 140px;
  font-size: 20px;
} 
h2 {
  position: relative;
  top: 90px;
} 
h4 {
  position: relative;
  top: 48px;
} 
